.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas:
    "header header header"
    "chart chart latestnews"
    "keystats keystats overview";
  max-width: 1500px;
  margin: 0 auto;
  flex: 1 1;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
}

body {
  margin: 0;
}

.wrapper_default {
  flex: 1 0 auto;
  max-width: 1500px;
  margin: 0;
}

.keystats {
  grid-area: keystats;
  margin: 0 38px 0 0;
}

.header {
  grid-area: header;
}

.chart {
  grid-area: chart;
}

.latestnews {
  grid-area: latestnews;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.overview {
  grid-area: overview;
}

.top_peers {
  grid-area: toppeers;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    grid-template-areas:
      "header header header"
      "chart chart chart"
      "latestnews latestnews latestnews"
      "keystats keystats keystats"
      "overview overview overview"
      "toppeers toppeers toppeers";
  }
}
