.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, 38%) minmax(250px, max-content) max-content;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "chart chart latestnews"
    "keystats keystats overview";
  margin: 0 15%;
}


/* .wrapper_default {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
} */

.keystats {
  grid-area: keystats;
  margin-right: 38px;
}

.header {
  grid-area: header;
}

.chart {
  grid-area: chart;
}

.latest_news {
  grid-area: latestnews;
}

.overview {
  grid-area: overview;
}

.top_peers {
  grid-area: toppeers;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header header header"
      "chart chart chart"
      "latestnews latestnews latestnews"
      "keystats keystats keystats"
      "overview overview overview"
      "toppeers toppeers toppeers";
  }
}
