.header {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 1.5fr;
  grid-template-areas:
    "header__logo header__btns"
    "search_display price_display"
    "currency_display market_status_display";
}
.header__logo {
  grid-area: header__logo;
  cursor: pointer;
}
.header__btns {
  grid-area: header__btns;
}
.currency_display {
  grid-area: currency_display;
}
.market_status_display {
  grid-area: market_status_display;
}
.search_display {
  grid-area: search_display;
}
.price_display {
  grid-area: price_display;
}
.header__btns {
  margin: 20px 0 0;
  text-align: end;
}
.header__btns__btn:last-child {
  margin-right: 0;
}
.header__btns__btn--active {
  border-radius: 3px;
  background-color: var(--highlight-2) !important;
  padding: 6px;
}
.header__btns__btn {
  margin: 0 20px;
  display: inline;
  font-weight: 300;
  color: var(--text-white);
  border: none;
  background-color: inherit;
  font-size: 18px;
  font-family: Lato-Light;
}

.header__logo {
  width: 155px;
}
.price_display {
  border-bottom: 2px solid var(--grid-header);
}

.price_display__small_icon {
  font-size: 20px;
  vertical-align: top;
  margin: 6px -8px 0;
  top: 7px;
}
.price_display__arrow_icon {
  font-size: 20px;
  top: -8px;
  position: relative;
}
.price_display {
  text-align: end;
  font-family: Lato-Light;
  margin-bottom: 8px;
}
.price_display h4 {
  display: inline-block;
  margin: 0 10px;
  font-size: 40px;
  font-weight: 20;
}
.price_display p {
  display: inline-block;
}
.price_display--increase {
  color: var(--good);
  margin: 0 2px 0 0 !important;
  position: relative;
}
.price_display--decrease {
  color: var(--bad);
  margin: 0 2px 0 0 !important;
  position: relative;
}
.currency_display {
  margin-block-start: 10px;
}
.currency_display__item {
  display: inline;
  color: var(--text-white);
  background-color: var(--grid-header);
  border-radius: 5%;
  margin: 5px;
  padding: 5px 12px;
  text-align: center;
  align-content: center;
  font-size: 14px;
}
.market_status_display__real_time {
  opacity: 0.8;
  font-family: Lato-regular;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--text-white);
  display: inline;
}
.market_status_display__real_time__status {
  display: inline;
  font-family: Lato-Regular;
}
.market_status_display {
  text-align: end;
  margin-block-start: 10px;
  font-family: Lato-Regular;
}

.market_status__icon {
  height: 0.7em;
  display: inline-block;
  padding: 0 5px;
}
@media (min-width: 1010px) {
  .header {
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-areas:
      "header__logo header__btns header__btns header__btns header__btns"
      "search_display search_display price_display price_display price_display"
      "currency_display currency_display currency_display market_status_display market_status_display";
  }
}
@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-areas:
      "header__logo header__btns header__btns header__btns header__btns"
      "search_display search_display price_display price_display price_display"
      "currency_display currency_display currency_display currency_display market_status_display";
  }
  .market_status_display__real_time {
    display: none;
  }
  .price_display {
    text-align: end;
  }
  .price_display h4 {
    font-size: 35px;
  }
  .currency_display__item {
    margin: 6px;
  }
}
@media (max-width: 588px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header__logo . "
      "search_display price_display"
      "currency_display market_status_display";
  }
  .footer,
  .header__btns,
  .market_status_display,
  .currency_display__item__industry,
  .currency_display__item__currency {
    display: none;
  }
  .price_display {
    position: absolute;
    right: 0;
    border: none;
    top: 11px;
    vertical-align: middle;
    width: max-content;
  }
  .price_display h4 {
    font-size: 30px;
  }
  .price_display__small_icon {
    margin: 5px -5px 0;
    font-size: 15px;
  }
  .price_display__arrow_icon {
    font-size: 17px;
    margin: -15px 0px 0 0;
  }
  .search_display {
    grid-column: 1/-1;
  }
  .responsive_chart {
    min-width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 522px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header__logo . "
      "price_display price_display"
      "search_display search_display"
      "currency_display market_status_display";
  }
  .price_display {
    position: absolute;
    top: -54px;
  }
}
