.header {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 1.5fr;
  grid-template-areas:
    "header__logo header__btns"
    "search_display price_display"
    "currency_display market_status_display";
}
.header__logo {
  grid-area: header__logo;
  cursor: pointer;
}
.header__btns {
  grid-area: header__btns;
}
.currency_display {
  grid-area: currency_display;
}
.market_status_display {
  grid-area: market_status_display;
}
.search_display {
  grid-area: search_display;
}
.price_display {
  grid-area: price_display;
}
.header__btns {
  margin: 20px 0 0;
  text-align: end;
}
.header__btns__btn {
  color: white;
  border: none;
  background-color: inherit;
  font-size: 18px;
  font-family: Lato-Light;
  margin: 0px 13px 0px 0px;
  padding: 2px 10px;
  border-radius: 10%;
}

.quotes_btn {
  background-color: var(--highlight-2);
  color: var(--text-white);
}
.header__logo {
  width: 155px;
}
.price_display {
  border-bottom: 2px solid var(--grid-header);
}

.price_display__small_icon {
  font-size: 20px;
  vertical-align: top;
  margin: 6px -8px 0;
}
.price_display__arrow_icon {
  font-size: 20px;
  top: -11px;
  position: relative;
}
.price_display {
  text-align: end;
  font-family: Lato-Light;
}
.price_display h4 {
  display: inline-block;
  margin: 0 10px;
  font-size: 40px;
  font-weight: 20;
}
.price_display p {
  display: inline-block;
}
.price_display--increase {
  color: var(--good);
  margin: 0 2px 0 0 !important;
  position: relative;
}
.price_display--decrease {
  color: var(--bad);
  margin: 0 2px 0 0 !important;
  position: relative;
}
.currency_display {
  margin-block-start: 10px;
}
.currency_display__item {
  display: inline;
  color: var(--text-white);
  background-color: var(--grid-header);
  border-radius: 5%;
  margin: 5px;
  padding: 3px;
  font-size: 14px;
}
.market_status_display__real_time {
  font-size: 14px;
  color: var(--text-white);
  font-family: Lato-Light;
  display: inline;
}
.market_status_display__real_time__status {
  display: inline;
  font-family: Lato-Regular;
}
.market_status_display {
  text-align: end;
  margin-block-start: 10px;
  font-family: Lato-Regular;
}

.market_status__icon {
  height: 0.7em;
  display: inline-block;
  padding: 0 5px;
}
@media (max-width: 500px) {
  .header {
    grid-template-areas:
      "header__logo header__btns"
      "search_display search_display"
      ". currency_display"
      "price_display price_display";
  }
  .footer,
  .header__btns,
  .market_status_display,
  .currency_display__item__industry,
  .currency_display__item__currency {
    display: none;
  }
  .price_display {
    border: none;
    text-align: start;
    margin-top: 16px;
  }
  .price_display h4 {
    font-size: 35px;
  }
  .price_display__small_icon {
    margin: 5px -5px 0;
    font-size: 15px;
  }
  .price_display__arrow_icon {
    font-size: 17px;
    margin: -15px 0px 0 0;
  }
  .search_display {
    grid-column: 1/-1;
  }
  .currency_display__item__exchange {
    float: right;
    margin-right: 20px;
  }
  .responsive_chart {
    min-height: 200px;
    max-height: 200px;
  }
  .search_display__icon {
    font-size: 35px;
    padding: 0 7px 0 0;
  }
  input::placeholder {
    font-size: 30px;
  }
  input {
    font-size: 30px;
  }
}
