:root {
  --bg-color-light: #012356;
  --bg-color-dark: #01132d;
  --heading-color: rgb(53, 143, 216);
  --quotes-color: #0042a0;
  --text-yellow: rgb(182, 154, 61);
  --text-white: rgb(255, 255, 255);
  --text-blue: rgb(100, 152, 182);
  --footer-blue: #042b6c;
  --text-font-size: 12px;
  --heading-text: 'Lato', normal, 30px #beccdc;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&display=swap');

body {
  background-image: linear-gradient(
    to right,
    var(--bg-color-light),
    var(--bg-color-dark)
  );
  color: white;
  font-family: 'Lato', sans-serif;
  font-style: normal;

  }

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkgoldenrod;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

input {
  background: inherit;
  font-size: 17px;
  font-weight: 300;
  color: white;
  margin-left: 5%;
  border: none;
  height: 100%;
  /* width: 90%; */
}

h5 {
  display: inline;
  color: var(--heading-color);
  font-size: 1.7vw;
}
.search_display,
.price_display {
  border-bottom: 2px solid var(--heading-color);
  position: relative;
}
.search_display__suggestion_list {
  position: absolute;
  background-color: #042b6c;
  list-style-type: none;
  z-index: 1;
}
.search_display__suggestion_list__item:hover {
  color: darkgoldenrod;
  cursor: pointer;
}
.search_display__search_bar {
  margin: 0;
}
::placeholder {
  font-weight: 300;
  font-size: 20px;
  color: var(--text-white);
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.price_display__small_icon {
  font-size: 1vw;
  vertical-align: top;
  margin: 10px 0 0;
}
.hidden {
  display: none !important;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  color: var(--heading-color);
  border-bottom: 2px solid var(--heading-color);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.header__btns {
  margin: 20px 0 0;
  text-align: end;
}
.header__btns__btn {
  color: white;
  border: none;
  background-color: inherit;
  font-size: 10px;
  margin: 0;
  padding: 5px 10px;
  color: var(--text-blue);
  border-radius: 10%;
}

.quotes_btn {
  background-color: var(--quotes-color);
  color: var(--text-white);
}
.header__logo {
  width: 130px;
  /* margin-top: 20px; */
}
.price_display {
  /* padding: 0 30px; */
  text-align: end;
  font-family: Helvetica-light;
}
.price_display h4 {
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
  font-weight: 20;
}
.price_display p {
  display: inline-block;
}
.price_display--increase {
  color: green;
}
.price_display--decrease {
  color: red;
}
.keystats__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "keystatsDisplay1 keystatsDisplay2";
}
.keystats__grid__display1 {
  grid-area: keystatsDisplay1;
  margin-right: 1em;
  border-spacing: 0;
}
.keystats__grid__display2 {
  grid-area: keystatsDisplay2;
  margin-left: 1em;
  border-spacing: 0;
}
@media (max-width: 1000px) {
  .keystats__grid {
    grid-template-areas:
      "keystatsDisplay1"
      "keystatsDisplay2";
  }
  .keystats__grid__display1,
  .keystats__grid__display2 {
    margin: 0;
  }
}
/* .space {
  width: 0.5vw;
} */

.keystats__grid__display1__name {
  color: var(--text-blue);
  border-bottom: 1px solid var(--text-blue);
  padding: 10px 0;
  font-size: var(--text-font-size);
}
.keystats__grid__display1__value {
  text-align: end;
  border-bottom: 1px solid var(--text-blue);
  padding: 0;
  font-size: var(--text-font-size);
}
.currency_display {
  margin-block-start: 10px;
}
.currency_display__item {
  display: inline;
  color: var(--text-white);
  background-color: var(--heading-color);

  border-radius: 5%;
  margin: 5px;
  padding: 3px;
  font-size: 0.8vw;
}
.market_status_display__real_time {
  font-size: var(--text-font-size);
  color: var(--text-blue);
  display: inline;
}
.market_status_display__real_time__status {
  font-size: var(--text-font-size);
  display: inline;
  margin-left: 10px;
}
.market_status_display {
  /* padding: 0 1.5vw; */
  text-align: end;
  margin-block-start: 10px;
}
.news_headline {
  font-size: var(--text-font-size);
  margin: 3px 0 0;
}
.first_news a {
  color: var(--text-yellow);
}
.news_time,
.news_source {
  display: inline;
  color: var(--text-blue);
  font-size: 14px;
  margin-right: 5px;
}
/* .latest_news{
  margin-block-start: 0;
  margin-block-end: 0.3em;
} */
.latest_news__content{
  overflow-y: scroll ;
  font-size: var(--text-font-size);
  height: 85%;
}

.chart__graph_btn {
  float: right;
  position: relative;
  margin-right: 6%;
  z-index: 1;
}
.chart__graph_btn--inactive {
  background: none;
  color: var(--text-blue);
  border: none;
  font-family: Helvetica-light;
}

.chart__graph_btn--inactive:hover {
  color: white;
}

.chart__graph_btn--active {
  background: none;
  color: white;
  border: none;
  font-family: Helvetica-light;
}

.top_peers ul {
  list-style: none;
  padding: 0;
}
.top_peers ul li {
  display: inline;
  padding: 0 7px 0 0;
  font-size: var(--text-font-size);
}
.green {
  color: green;
}
.red {
  color: red;
}
.footer {
  bottom: 0;
  font-size: 8px;
  background-color: var(--footer-blue);
  display: grid;
  grid-template-areas:
    "footer1 footer3"
    "footer2 footer4";
  position: fixed;
  right: 0;
  left: 0;
  margin-top: 10px
}

.footer1 {
  grid-area: footer1;
}
.footer2 {
  grid-area: footer2;
  letter-spacing: 1px;
}
.footer3 {
  grid-area: footer3;
}
.footer4 {
  grid-area: footer4;
  letter-spacing: 1px;
}
.footer1, .footer2, .footer3, .footer4{
  padding: 0 10px;
  margin: 6px;
}
.overview__company {
  font-size: var(--text-font-size);
  margin-block-start: 0;
  margin-block-end: 0.3em;
}

.overview p {
  margin: 0 0 10px 0;
}
.overview__web {
  font-size: 12px;
  font-style: italic;
}
.overview__text {
  font-size: var(--text-font-size);
  height: 130px;
  overflow-y: scroll;
}

.chart__date {
  font-size: 5px;
}
@media (max-width: 1024px) {
  .footer{
    bottom: 0 !important;
    position: sticky;
    margin: 0 -10px -10px -10px;
  }
  }
@media (max-width: 768px){
  ::placeholder {
    font-size: 16px;
  }
  .price_display h4 {
    margin: 0 7px;
    font-size: 16px;
  }
  .market_status_display__real_time{
    font-size: 8px
  }
  .keystats{
    margin-right: 0px !important;
  }
}
@media (max-width: 425px){
  .header__btns__btn{
    font-size: 5px
  }
}