:root {
  --good: #91e4a5;
  --bad: #e95656;
  --text-white: #ffffff;
  --label: #beccdc;
  --button-bg: #003c7d;
  --highlight-1: #7fb3ff;
  --alert: #ffbb5e;
  --secondary: #f8f8f8;
  --rt-main-accent: #02a8cc;
  --rt-good: #6db812;
  --rt-bad-50: rgba(216, 12, 10, 0.5);
  --rt-good-50: rgba(109, 184, 18, 0.5);
  --rt-bad: #d80c0a;
  --rt-row-dark: #2b353d;
  --rt-header-footer-dark: #035567;
  --rt-alt-row-dark: #1e2127;
  --rt-icon: #dddddd;
  --rt-dark: #262b33;
  --rt-border: #424646;
  --rt-row-light: #e9f1f4;
  --text-black: #000000;
  --text-hover: #e0be86;
  --grid-header: #415f8a;
  --grid-row: #344968;
  --grid-alt-row: #263b59;
  --disabled-pending-row: rgba(133, 141, 151, 0.5);
  --disabled-pending: #858d97;
  --primary-1: #012861;
  --primary-2: #021738;
  --primary-3: #021025;
  --marine-blue: #00265d;
  --primary-5: #00204f;
  --highlight-2: #0068ff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@font-face {
  font-family: Lato-Regular;
  src: url(../Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Italic;
  src: url(../Lato-Italic.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../Lato-Bold.ttf);
}

body {
  background-image: linear-gradient(
    to right,
    var(--primary-1),
    var(--primary-2)
  );
  color: white;
  font-family: Lato-Regular;
  font-style: normal;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
  text-decoration: none;
}

input {
  background: inherit;
  font-size: 40px;
  font-family: Lato-Light;
  font-weight: 300;
  color: white;
  margin-left: 5%;
  border: none;
  height: 100%;
  width: 90%;
}

h5 {
  display: inline;
  color: var(--heading-color);
  font-size: 1.7vw;
}

.hidden {
  display: none !important;
}
h1 {
  font-family: Lato-Bold;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 16px;
  color: var(--highlight-1);
  border-bottom: 2px solid var(--highlight-1);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.green {
  color: var(--good);
}
.red {
  color: var(--bad);
}

@media (min-width: 426px) {
  .footer__mobile {
    display: none;
  }
}
@media (max-width: 1024px) {
  .footer {
    bottom: 0 !important;
    position: sticky;
    margin: 0 -10px -10px -10px;
  }
}
@media (max-width: 768px) {
  ::placeholder {
    font-size: 16px;
  }
  .price_display h4 {
    margin: 0 7px;
    font-size: 16px;
  }
  .market_status_display__real_time {
    font-size: 8px;
  }
  .keystats {
    margin-right: 0px !important;
  }
}
@media (max-width: 425px) {
  h5 {
    font-size: 5vw;
  }
  .search_display__search_bar {
    width: 93%;
    height: 36px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.12);
  }
  .footer,
  .currency_display__item__industry,
  .currency_display__item__currency {
    display: none;
  }
  .currency_display {
    text-align: end;
  }
  .price_display__arrow_icon {
    font-size: 15px;
    top: -10px;
  }
  .price_display__small_icon {
    font-size: 15px;
    margin: 7px -5px 0;
  }
  ::placeholder {
    font-weight: 300;
    font-size: 30px;
    padding-left: 10px;
  }
  .price_display h4 {
    font-size: 35px;
  }
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--label);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, var(--primary-1)),
    color-stop(0.72, var(--marine-blue)),
    color-stop(0.86, var(--primary-5))
  );
}

.error__message {
  color: #e95656;
  margin: 10% 0 0 3%;
}
