:root {
  --good: #91e4a5;
  --bad: #e95656;
  --text-white: #ffffff;
  --label: #beccdc;
  --button-bg: #003c7d;
  --highlight-1: #7fb3ff;
  --alert: #ffbb5e;
  --secondary: #f8f8f8;
  --rt-main-accent: #02a8cc;
  --rt-good: #6db812;
  --rt-bad-50: rgba(216, 12, 10, 0.5);
  --rt-good-50: rgba(109, 184, 18, 0.5);
  --rt-bad: #d80c0a;
  --rt-row-dark: #2b353d;
  --rt-header-footer-dark: #035567;
  --rt-alt-row-dark: #1e2127;
  --rt-icon: #dddddd;
  --rt-dark: #262b33;
  --rt-border: #424646;
  --rt-row-light: #e9f1f4;
  --text-black: #000000;
  --text-hover: #e0be86;
  --grid-header: #415f8a;
  --grid-row: #344968;
  --grid-alt-row: #263b59;
  --disabled-pending-row: rgba(133, 141, 151, 0.5);
  --disabled-pending: #858d97;
  --primary-1: #012861;
  --primary-2: #021738;
  --primary-3: #021025;
  --marine-blue: #00265d;
  --primary-5: #00204f;
  --highlight-2: #0068ff;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@font-face {
  font-family: Lato-Regular;
  src: url(../Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Italic;
  src: url(../Lato-Italic.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../Lato-Bold.ttf);
}

body {
  background-image: linear-gradient(
    to right,
    var(--primary-1),
    var(--primary-2)
  );
  color: white;
  font-family: Lato-Regular;
  font-style: normal;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  color: var(--text-hover);
  text-decoration: none;
}

input {
  background: inherit;
  font-size: 40px;
  font-family: Lato-Light;
  font-weight: 300;
  color: white;
  margin-left: 5%;
  border: none;
  height: 100%;
  width: 90%;
}

h5 {
  display: inline;
  color: var(--heading-color);
  font-size: 1.7vw;
}
.search_display,
.price_display {
  border-bottom: 2px solid var(--grid-header);
  position: relative;
}
.search_display__icon {
  color: var(--highlight-1);
}
.search_display__suggestion_list {
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #001330, rgba(0, 8, 19, 0.8));
  list-style-type: none;
  z-index: 1;
  margin-top: 0px;
  width: 100%;
  font-size: 18px;
}
.search_display__suggestion_list__item {
  padding-bottom: 2px;
  padding-right: 5px;
}
.search_display__suggestion_list__item__symbol {
  display: inline-block;
  color: var(--highlight-2);
}
.search_display__suggestion_list__item:hover {
  color: darkgoldenrod;
  cursor: pointer;
}
.search_display__search_bar {
  margin: 0;
}
::placeholder {
  font-weight: 300;
  font-size: 40px;
  color: var(--text-white);
  font-family: Lato-Light;
  font-weight: 300;
}
.price_display__small_icon {
  font-size: 20px;
  vertical-align: top;
  margin: 10px -5px 0;
}
.price_display__arrow_icon {
  font-size: 20px;
  position: relative;
  top: -8px;
}
.hidden {
  display: none !important;
}
h1 {
  font-family: Lato-Bold;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 16px;
  color: var(--highlight-1);
  border-bottom: 2px solid var(--highlight-1);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.header__btns {
  margin: 20px 0 0;
  text-align: end;
}
.header__btns__btn {
  color: white;
  border: none;
  background-color: inherit;
  font-size: 18px;
  font-family: Lato-Light;
  margin: 0;
  padding: 2px 10px;
  border-radius: 10%;
}

.quotes_btn {
  background-color: var(--highlight-2);
  color: var(--text-white);
}
.header__logo {
  width: 155px;
}
.price_display {
  text-align: end;
  font-family: Lato-Light;
}
.price_display h4 {
  display: inline-block;
  margin: 0 10px;
  font-size: 40px;
  font-weight: 20;
}
.price_display p {
  display: inline-block;
}
.price_display--increase {
  color: var(--good);
}
.price_display--decrease {
  color: var(--bad);
}
.keystats__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "keystatsDisplay1 keystatsDisplay2";
}
.keystats__grid__display1 {
  grid-area: keystatsDisplay1;
  margin-right: 1em;
  border-spacing: 0;
}
.keystats__grid__display2 {
  grid-area: keystatsDisplay2;
  margin-left: 1em;
  border-spacing: 0;
}
@media (max-width: 1000px) {
  .keystats__grid {
    grid-template-areas:
      "keystatsDisplay1"
      "keystatsDisplay2";
  }
  .keystats__grid__display1,
  .keystats__grid__display2 {
    margin: 0;
  }
}

.keystats__grid__display1__name {
  color: var(--label);
  border-bottom: solid 1px #54606d;
  padding: 16px 0;
  font-family: Lato-Light;
  font-size: 14px;
}
.keystats__grid__display1__value {
  text-align: end;
  border-bottom: solid 1px #54606d;
  padding: 0;
  font-size: var(--text-font-size);
}
.currency_display {
  margin-block-start: 10px;
}
.currency_display__item {
  display: inline;
  color: var(--text-white);
  background-color: var(--grid-header);
  border-radius: 5%;
  margin: 5px;
  padding: 3px;
  font-size: 14px;
}
.market_status_display__real_time {
  font-size: 14px;
  color: var(--label);
  display: inline;
}
.market_status_display__real_time__status {
  display: inline;
  font-family: Lato-Light;
}
.market_status_display {
  text-align: end;
  margin-block-start: 10px;
  font-family: Lato-Regular;
}

.market_status__icon {
  width: 20px;
  display: inline-block;
  padding: 0 5px;
}
.news_headline {
  font-size: var(--text-font-size);
  margin: 10px 0 0;
}
.first_news a {
  color: var(--text-hover);
}
.news_time,
.news_source {
  display: inline;
  color: var(--label);
  font-size: 14px;
  font-family: Lato-Light;
  margin-right: 5px;
}

.news {
  flex: 1 1 auto;
}

.latest_news__content {
  overflow-y: auto;
  font-size: var(--text-font-size);
  display: flex;
  flex-direction: column;
}

.chart__graph_btn {
  float: right;
  position: relative;
  margin-right: 6%;
  font-family: Lato-Light;
  font-size: 12px;
  z-index: 1;
}
.chart__graph_btn--inactive {
  background: none;
  color: var(--label);
  border: none;
}

.chart__graph_btn--inactive:hover {
  color: white;
}

.chart__graph_btn--active {
  background: none;
  color: white;
  border: none;
}

.top_peers ul {
  list-style: none;
  padding: 0;
}
.top_peers ul li {
  display: inline;
  padding: 0 7px 0 0;
  font-size: var(--text-font-size);
}
.green {
  color: var(--good);
}
.red {
  color: var(--bad);
}
.footer {
  font-size: 8px;
  background-image: linear-gradient(
    to bottom,
    var(--marine-blue),
    var(--primary-5)
  );
  display: grid;
  grid-template-areas: "usMarket favorites";
  flex: 0 0 auto;
}

.footer1 {
  grid-area: footer1;
  font-size: 12px;
}
.footer2 {
  grid-area: footer2;
  letter-spacing: 1px;
  font-size: 14px;
  letter-spacing: 3px;
}
.usMarket {
  grid-area: usMarket;
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.favorites {
  grid-area: favorites;
  font-size: 12px;
}
.footer__heading {
  font-size: 14px;
  font-family: Lato-Bold;
}
.footer1,
.footer2 {
  padding: 0 10px;
  margin: 6px;
}
.overview__company {
  font-size: 24px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0.3em;
  font-family: Lato-Regular;
}

.overview p {
  margin: 0 0 10px 0;
}
.overview__web {
  font-size: 14px;
  font-family: Lato-Italic;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--label);
}
a.overview__web {
  color: var(--label);
}
a.overview__web:hover {
  color: var(--text-hover);
}
.overview__text {
  font-size: var(--text-font-size);
  height: 130px;
  overflow-y: auto;
}

.chart__date {
  font-size: 5px;
}
@media (max-width: 1024px) {
  .footer {
    bottom: 0 !important;
    position: sticky;
    margin: 0 -10px -10px -10px;
  }
}
@media (max-width: 768px) {
  ::placeholder {
    font-size: 16px;
  }
  .price_display h4 {
    margin: 0 7px;
    font-size: 16px;
  }
  .market_status_display__real_time {
    font-size: 8px;
  }
  .keystats {
    margin-right: 0px !important;
  }
}
@media (max-width: 425px) {
  .header__btns__btn {
    font-size: 5px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--label);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, var(--primary-1)),
    color-stop(0.72, var(--marine-blue)),
    color-stop(0.86, var(--primary-5))
  );
}
.error{

}
.error__message{
  color: #e95656;
  margin: 10% 0 0 3%;
}