.overview p {
  margin: 0 0 10px 0;
}
a.overview__web {
  font-size: 14px;
  font-family: Lato-Italic;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--label);
}
a.overview__web:hover {
  color: var(--text-hover);
}
.overview__text {
  font-size: var(--text-font-size);
  max-height: 300px;
  overflow-y: auto;
}

.overview__company {
  font-size: 24px;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0.3em;
  font-family: Lato-Regular;
}
