.search_display {
  border-bottom: 2px solid var(--grid-header);
  margin-bottom: 8px;
}
.search_display__icon {
  color: var(--highlight-1);
  padding: 0 7px 0 0;
  position: absolute;
  top: 15px;
}
h5 {
  display: inline;
  color: var(--heading-color);
  font-size: 25px;
}

.search_display__suggestion_list {
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #001330, rgba(0, 8, 19, 0.8));
  list-style-type: none;
  z-index: 2;
  margin-top: 6px;
  width: 100%;
  font-size: 18px;
  padding: 0;
  border-spacing: 18px 17px;
}
.search_display__suggestion_list__item {
  /* padding: 0px 5px 16px 5px; */
}
.search_display__suggestion_list__item__symbol {
  display: inline-block;
  color: var(--highlight-2);
  padding: 5px;
}
.search_display__suggestion_list__item__exchange {
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(128, 180, 255, 0.13);
  padding: 0px 15px;
}
.search_display__suggestion_list__item:hover {
  color: darkgoldenrod;
  cursor: pointer;
}
#search_display__search_bar {
}

.search_display__search_bar__label {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 30px;
  font-weight: 300;
  font-size: 40px;
  color: var(--text-white);
  font-family: Lato-Light;
  font-weight: 300;
}
.search_display__search_bar__wrapper {
  position: relative;
}
.search_display__search_bar__label__symbol {
  color: var(--label);
  opacity: 0.5;
}
input {
  background: inherit;
  font-size: 40px;
  font-family: Lato-Light;
  font-weight: 300;
  color: rgba(255, 255, 255, 0);
  margin-left: 25px;
  border: none;
  height: 100%;
  width: 90%;
}

input[type="text"]:focus {
  color: #ffffff;
}
input[type="text"]:focus + label{
  display: none;
}
@media (max-width: 768px) {
  .search_display__search_bar__label__symbol {
    display: none;
  }
}
