.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.keystats {
  grid-area: keystats
}

.header {
  grid-area: header
}

.chart {
  grid-area: chart
}

.latestnews {
  grid-area: latestnews
}

.overview {
  grid-area: overview
}

.toppeers {
  grid-area: toppeers
}

.footer {
  grid-area: footer
}