.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr, 2fr, 1fr;
  grid-gap: 20px;
  grid-template-areas: 
  "header header header"
  "chart chart latestnews"
  "keystats keystats overview"
  ". . toppeers"
  "footer footer footer"
}

.keystats {
  grid-area: keystats
}

.header {
  grid-area: header
}

.chart {
  grid-area: chart
}

.latestnews {
  grid-area: latestnews
}

.overview {
  grid-area: overview
}

.toppeers {
  grid-area: toppeers
}

.footer {
  grid-area: footer;
}

